[submodule "fallible"]
	path = fallible
	url = git@github.com:coteeq/fallible.git
[submodule "wheels"]
	path = wheels
	url = git@github.com:coteeq/wheels.git
[submodule "sure"]
	path = sure
	url = git@github.com:coteeq/sure.git
[submodule "tinyfibers"]
	path = tinyfibers
	url = git@github.com:coteeq/tinyfibers.git
