[submodule "fallible"]
	path = fallible
	url = git@gitlab.com:Lipovsky/fallible.git
[submodule "wheels"]
	path = wheels
	url = git@gitlab.com:Lipovsky/wheels.git
[submodule "sure"]
	path = sure
	url = git@gitlab.com:Lipovsky/sure.git
